* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.logo-title {
  display: flex; 
  align-items: center; 
  gap: 16px;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.navbar-links a:hover {
  color: #007bff;
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.notification-icon {
  width: 40px;
  height: 40px;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logo-icon {
  width: 16px;
  height: 16px;
}